:root {
  --primary-bg-color: #6c7c69;
  --secondary-eggshell-bg-color: #fffaf5;
  --secondary-white-fg-color: #ffffff;
  --secondary-dark-color: #222222;
  --accent-bg-color: #e3c196;
  --tertiary-taupe-bg-color: #eae8e1;
  --tertiary-dullgreen-bg-color: #dce0db;
}

/*
 * font faces
 */
@font-face {
  font-family: "Cormorant Garamond";
  src: url(fonts/CormorantGaramond-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url(fonts/CormorantGaramond-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya Sans SC";
  src: url(fonts/AlegreyaSansSC-Medium.ttf);
}
@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/AlegreyaSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/AlegreyaSans-Regular.ttf);
  font-weight: 400;
}
/*
 * mixins
 */
body {
  background-color: var(--secondary-eggshell-bg-color);
  font-family: "Alegreya Sans";
  font-size: 11pt;
  color: var(--secondary-dark-color);
}
body h1,
body h1.entry-title {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-style: italic;
  font-size: 32pt;
  color: var(--secondary-dark-color);
  text-align: center;
}
body h2 {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-size: 14pt;
  color: var(--secondary-dark-color);
}
body h3, body blockquote p {
  font-family: "Alegreya Sans SC";
  font-size: 14pt;
  color: var(--secondary-dark-color);
}
body p, body li, body table {
  font-family: "Alegreya Sans";
  font-size: 11pt;
  color: var(--secondary-dark-color);
}
body.singular .entry-header {
  border-bottom: 0;
  padding-bottom: 0;
}
body.singular .entry-header h1.entry-title {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-style: italic;
  font-size: 32pt;
  color: var(--secondary-dark-color);
  text-align: center;
}
body .site {
  background-image: url("./assets/images/wccm_logo.png");
  background-repeat: no-repeat;
  background-position: top left;
}
body .site .site-header {
  margin-right: 0;
  padding-top: 0;
}
body .site .site-header a:focus {
  background-color: transparent;
}
body .site .site-header .primary-navigation {
  margin-right: 1em;
  font-family: sans-serif;
}
body .site .site-header .primary-navigation ul.menu-wrapper {
  height: 82px;
}
body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item a {
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  font-family: "Alegreya Sans SC";
  font-size: 14pt;
  color: var(--primary-bg-color);
}
body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item:hover {
  background-color: var(--accent-bg-color);
}
body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item:hover a {
  text-decoration: none;
}
body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item.current-menu-item, body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item.current-menu-ancestor {
  box-shadow: inset 0 -0.15em var(--accent-bg-color) !important;
}
body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item.current-menu-item a, body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item.current-menu-ancestor a {
  text-decoration: none;
}
body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item.current-menu-item .sub-menu .current-menu-item, body .site .site-header .primary-navigation ul.menu-wrapper li.menu-item.current-menu-ancestor .sub-menu .current-menu-item {
  background-color: var(--tertiary-taupe-bg-color);
}
body .site .site-content a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  background-color: transparent;
}
body .site .site-content .content-area .site-main .post .entry-header {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
body .site .site-content .content-area .site-main .post .entry-header h1 {
  text-align: center;
}
body .site .site-content .content-area .site-main .post .entry-header .post-thumbnail {
  display: none;
}
body .site .site-content .content-area .site-main .post .entry-footer .posted-by .byline {
  display: none;
}
body .site .site-content .content-area .site-main .post .entry-footer .post-taxonomies .cat-links {
  display: none;
}
body .site .site-content .content-area .site-main .navigation .post-title {
  font-family: "Alegreya Sans SC";
  font-size: 14pt;
  color: var(--secondary-dark-color);
}
body .site .site-footer {
  display: none;
}
