:root {
    --primary-bg-color: #6c7c69;
    --secondary-eggshell-bg-color: #fffaf5;
    --secondary-white-fg-color: #ffffff;
    --secondary-dark-color: #222222;
    --accent-bg-color: #e3c196;
    --tertiary-taupe-bg-color: #eae8e1;
    --tertiary-dullgreen-bg-color: #dce0db;
}

/*
 * font faces
 */
@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya Sans SC';
    src: url(fonts/AlegreyaSansSC-Medium.ttf);
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url(fonts/AlegreyaSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url(fonts/AlegreyaSans-Regular.ttf);
    font-weight: 400;
}


/*
 * mixins
 */
@mixin large-header {
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-style: italic;
    font-size: 32pt;
    color: var(--secondary-dark-color);
    text-align: center;
}

@mixin header {
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-size: 14pt;
    color: var(--secondary-dark-color);
}

@mixin sub-header-primary {
    font-family: 'Alegreya Sans SC';
    font-size: 14pt;
    color: var(--secondary-dark-color);
}

@mixin sub-header-secondary {
    font-family: 'Alegreya Sans SC';
    font-size: 14pt;
    color: var(--primary-bg-color);
}

@mixin body-copy {
    font-family: 'Alegreya Sans';
    font-size: 11pt;
    color: var(--secondary-dark-color);
}

body {
    background-color: var(--secondary-eggshell-bg-color);

    @include body-copy;

    h1,
    h1.entry-title {
        @include large-header;
    }

    h2 {
        @include header;
    }

    h3, blockquote p {
        @include sub-header-primary;
    }

    p, li, table {
        @include body-copy;
    }

    &.singular {
        .entry-header {
            border-bottom: 0;
            padding-bottom: 0;

            h1.entry-title {
                @include large-header;
            }
        }
    }

    .site {

        background-image: url('./assets/images/wccm_logo.png');
        background-repeat: no-repeat;
        background-position: top left;

        .site-header {
            margin-right: 0;
            padding-top: 0;

            a:focus {
                background-color: transparent;
            }

            .primary-navigation {

                margin-right: 1em;
                font-family: sans-serif;

                ul.menu-wrapper {

                    height: 82px;

                    li.menu-item {

                        a {
                            margin-top: auto;
                            margin-bottom: auto;
                            background-color: transparent;
                            @include sub-header-secondary;
                        }

                        &:hover {
                            background-color: var(--accent-bg-color);

                            a {
                                text-decoration: none;
                            }
                        }

                        &.current-menu-item,
                        &.current-menu-ancestor {

                            box-shadow: inset 0 -0.15em var(--accent-bg-color) !important;

                            a {
                                text-decoration: none;
                            }

                            .sub-menu .current-menu-item {
                                background-color: var(--tertiary-taupe-bg-color);
                            }
                        }
                    }
                }
            }
        }

        .site-content {

            a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
                background-color: transparent;
            }

            .content-area {
                .site-main {

                    .post {

                        .entry-header {
                            border: 0;
                            margin-bottom: 0;
                            padding-bottom: 0;

                            h1 {
                                text-align: center;
                                //@include large-header;
                            }

                            .post-thumbnail {
                                display: none;
                            }
                        }

                        .entry-footer {
                            .posted-by {
                                .byline {
                                    display: none;
                                }
                            }
                            .post-taxonomies {
                                .cat-links {
                                    display: none;
                                }
                            }
                        }
                    }

                    .navigation {
                        .post-title {
                            @include sub-header-primary;
                        }
                    }

                }
            }
        }

        .site-footer {
            display: none;
        }

    }


}





